In [255]:
import pandas as pd
centers_data = pd.read_csv("./centers.csv")
tackles_data = pd.read_csv("./tackles.csv")
guards_data = pd.read_csv("./guards.csv")
oline_data_2016 = pd.read_csv("./general_oline_2016.csv")
rb_data_2016 = pd.read_csv("./individual_rb_2016.csv")
nfl_data_2017 = pd.read_csv("./2017_nfl_rb_stats.csv")
nfl_data_2018 = pd.read_csv("./2018_nfl_rb_stats.csv")
nfl_data_2019 = pd.read_csv("./2019_nfl_rb_stats.csv")
print(centers_data.head(), "\n\n", tackles_data.head(), "\n\n", guards_data.head())

              Player  SA  PA  TFLA  P    SC   G    PA% Team
0   C. Rodney Hudson   1   4   1.0  1   798  12  0.83%  ARZ
1  C. Creed Humphrey   1  10   3.0  6  1184  17  1.24%   KC
2   C. Corey Linsley   0  10   2.0  6  1076  16  1.38%  LAC
3      C. Erik McCoy   0   7   1.5  8   746  12  1.62%   NO
4      C. JC Tretter   1  10   4.5  5  1039  16  1.70%  CLV

                 Player  SA  PA  TFLA  P    SC   G    PA% Team
0     T. Tristan Wirfs   2  14   6.0  3  1182  17  1.76%   TB
1       T. Tyron Smith   2  11   0.0  7   738  11  2.39%  DAL
2      T. Lane Johnson   0  11   1.0  7   821  13  2.64%  PHI
3  T. Andrew Whitworth   5  16   1.0  6   926  15  2.68%  LAR
4       T. George Fant   1  18   3.0  4   888  15  3.03%  NYJ

                Player  SA  PA  TFLA   P    SC   G    PA% Team
0       G. Joe Thuney   1  16   3.0   8  1184  17  1.99%   KC
1    G. Kevin Zeitler   1  17   6.0   7  1221  17  2.20%  BLT
2  G. Connor Williams   1  13   4.0  15   934  15  2.28%  DAL
3       G. Ted Karras   3  11   4.5   2   828  14  2.59%   NE
4     G. Joel Bitonio   2  17   4.0   3  1107  17  2.69%  CLV

In [257]:
#commas in data for some reason, get rid of it
rb_data_2016 = rb_data_2016.replace(',','', regex=True)
c = rb_data_2016.select_dtypes(object).columns
rb_data_2016[c] = rb_data_2016[c].apply(pd.to_numeric,errors='coerce')

In [260]:
nfl_names = ['Leonard Fournette', 'Donnel Pumphrey', 'DOnta Foreman', 'Aaron Jones', 'Dalvin Cook', 'Jeremy McNichols', 'Christian McCaffrey', 'Justin Jackson', 'Saquon Barkley', 'Kareem Hunt', 'Ito Smith', 'Derrius Guice', 'Corey Clement', 'Jamaal Williams', 'Myles Gaskin', 'Joe Mixon', 'Phillip Lindsay', 'Marlon Mack', 'Justice Hill', 'Wayne Gallman', 'Nick Chubb', 'Elijah McGuire', 'James Conner', 'Benjamin Snell Jr', 'Ronald Jones II', 'Samaje Perine', 'Damien Harris', 'Rashaad Penny', 'Devin Singletary', 'Royce Freeman', 'Ryquell Armstead', 'Kerryon Johnson', 'Elijah Hood']

for names in rb_data_2016.player:
    if names in nfl_names:
        relevant_rbs = relevant_rbs.append(rb_data_2016.loc[(rb_data_2016.player == names)])
relevant_rbs
relevant_rbs = relevant_rbs.replace(',','', regex=True)
c = relevant_rbs.select_dtypes(object).columns
relevant_rbs[c] = relevant_rbs[c].apply(pd.to_numeric,errors='coerce')
rel_rbs = relevant_rbs[1:32]
rel_rbs

,player,team,attempts,yards_gained,yards_lost,net_yards,ypc,long,tds
0,NaN,NaN,349.0,2194.0,61.0,2133.0,6.11,NaN,17.0
1,NaN,NaN,323.0,2049.0,21.0,2028.0,6.28,NaN,15.0
3,NaN,NaN,229.0,1827.0,54.0,1773.0,7.74,NaN,17.0
4,NaN,NaN,288.0,1845.0,80.0,1765.0,6.13,NaN,19.0
5,NaN,NaN,314.0,1787.0,78.0,1709.0,5.44,NaN,23.0
9,NaN,NaN,252.0,1632.0,36.0,1596.0,6.33,NaN,13.0
12,NaN,NaN,297.0,1603.0,82.0,1521.0,5.12,68.0,15.0
13,NaN,NaN,272.0,1634.0,138.0,1496.0,5.50,NaN,18.0
14,NaN,NaN,262.0,1512.0,37.0,1475.0,5.63,47.0,10.0
15,NaN,NaN,265.0,1506.0,47.0,1459.0,5.51,NaN,17.0
19,NaN,NaN,183.0,1428.0,41.0,1387.0,7.58,NaN,15.0
21,NaN,NaN,314.0,1421.0,46.0,1375.0,4.38,68.0,15.0
22,NaN,NaN,234.0,1408.0,33.0,1375.0,5.88,NaN,12.0
23,NaN,NaN,237.0,1407.0,34.0,1373.0,5.79,68.0,10.0
30,NaN,NaN,188.0,1335.0,61.0,1274.0,6.78,NaN,10.0
33,NaN,NaN,244.0,1283.0,31.0,1252.0,5.13,NaN,16.0
36,NaN,NaN,174.0,1242.0,55.0,1187.0,6.82,NaN,15.0
41,NaN,NaN,205.0,1187.0,42.0,1145.0,5.59,38.0,6.0
42,NaN,NaN,232.0,1171.0,38.0,1133.0,4.88,NaN,17.0
43,NaN,NaN,224.0,1180.0,50.0,1130.0,5.04,NaN,8.0
44,NaN,NaN,232.0,1168.0,41.0,1127.0,4.86,NaN,7.0
49,NaN,NaN,216.0,1152.0,60.0,1092.0,5.06,40.0,16.0
51,NaN,NaN,177.0,1124.0,42.0,1082.0,6.11,NaN,12.0
56,NaN,NaN,196.0,1079.0,19.0,1060.0,5.41,66.0,12.0
61,NaN,NaN,146.0,1065.0,28.0,1037.0,7.10,73.0,2.0
64,NaN,NaN,136.0,1057.0,39.0,1018.0,7.49,NaN,11.0
65,NaN,NaN,151.0,1035.0,19.0,1016.0,6.73,NaN,12.0
75,NaN,NaN,168.0,1003.0,58.0,945.0,5.62,NaN,9.0
83,NaN,NaN,156.0,951.0,32.0,919.0,5.89,NaN,14.0
88,NaN,NaN,182.0,919.0,24.0,895.0,4.92,NaN,11.0
96,NaN,NaN,145.0,908.0,50.0,858.0,5.92,NaN,8.0

In [252]:
rel_rbs.sort_values(by='attempts', ascending = False)

,player,team,attempts,yards_gained,yards_lost,net_yards,ypc,long,tds
0,Donnel Pumphrey,SDSU,349,"2,194",61,"2,133",6.11,79t,17
1,DOnta Foreman,TEX,323,"2,049",21,"2,028",6.28,74t,15
21,Corey Clement,WISC,314,"1,421",46,"1,375",4.38,68,15
5,Jeremy McNichols,BSU,314,"1,787",78,"1,709",5.44,80t,23
12,Justin Jackson,NW,297,"1,603",82,"1,521",5.12,68,15
4,Dalvin Cook,FSU,288,"1,845",80,"1,765",6.13,75t,19
13,Saquon Barkley,PSU,272,"1,634",138,"1,496",5.50,81t,18
15,Ito Smith,USM,265,"1,506",47,"1,459",5.51,86t,17
14,Kareem Hunt,TOL,262,"1,512",37,"1,475",5.63,47,10
9,Christian McCaffrey,STAN,252,"1,632",36,"1,596",6.33,90t,13
33,Phillip Lindsay,COL,244,"1,283",31,"1,252",5.13,75t,16
23,Myles Gaskin,WASH,237,"1,407",34,"1,373",5.79,68,10
22,Jamaal Williams,BYU,234,"1,408",33,"1,375",5.88,62t,12
42,Wayne Gallman,CLEM,232,"1,171",38,"1,133",4.88,59t,17
44,Elijah McGuire,ULA,232,"1,168",41,"1,127",4.86,68t,7
3,Aaron Jones,UTEP,229,"1,827",54,"1,773",7.74,83t,17
43,Nick Chubb,UGA,224,"1,180",50,"1,130",5.04,55t,8
49,James Conner,PITT,216,"1,152",60,"1,092",5.06,40,16
41,Justice Hill,OKST,205,"1,187",42,"1,145",5.59,38,6
56,Samaje Perine,OKLA,196,"1,079",19,"1,060",5.41,66,12
30,Joe Mixon,OKLA,188,"1,335",61,"1,274",6.78,79t,10
19,Derrius Guice,LSU,183,"1,428",41,"1,387",7.58,96t,15
88,Kerryon Johnson,AUB,182,919,24,895,4.92,47t,11
51,Ronald Jones II,USC,177,"1,124",42,"1,082",6.11,66t,12
36,Marlon Mack,USF,174,"1,242",55,"1,187",6.82,85t,15
75,Royce Freeman,ORE,168,"1,003",58,945,5.62,85t,9
83,Ryquell Armstead,TEM,156,951,32,919,5.89,76t,14
65,Devin Singletary,FAU,151,"1,035",19,"1,016",6.73,66t,12
61,Damien Harris,ALA,146,"1,065",28,"1,037",7.10,73,2
96,Elijah Hood,UNC,145,908,50,858,5.92,62t,8
64,Rashaad Penny,SDSU,136,"1,057",39,"1,018",7.49,73t,11

In [200]:
for team in relevant_rbs.team:
    college_lines = college_lines.append(oline_data_2016.loc[(oline_data_2016.offense == team)])
rel_rbs_lines = college_lines[1:30]
rel_rbs_lines

,offense,line_ypc,line_ypc_rank,std_line_ypc,std_line_ypc_rank,pass_line_ypc,pass_line_ypc_rank,opp_rate,opp_rate_rank,power_rate,power_rate_rank,stuff_rate,stuff_rate_rank,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
88,SDSU,100.8,76,3.27,24,3.25,73,41.70%,40,75.00%,20,18.50%,62,NaN,NaN,NaN,NaN,NaN
100,TEX,103.3,59,3.14,43,3.66,26,41.90%,38,73.20%,35,13.10%,3,NaN,NaN,NaN,NaN,NaN
115,UTEP,97.5,93,3.12,48,3.34,61,41.30%,47,65.70%,80,19.30%,72,NaN,NaN,NaN,NaN,NaN
32,FSU,121.0,7,2.96,69,3.52,39,42.80%,27,78.70%,8,19.30%,72,NaN,NaN,NaN,NaN,NaN
12,BSU,103.7,56,3.03,60,3.63,29,39.80%,68,73.50%,31,16.60%,30,NaN,NaN,NaN,NaN,NaN
95,STAN,106.2,48,3.37,12,3.13,81,40.60%,62,65.90%,76,14.80%,9,NaN,NaN,NaN,NaN,NaN
73,NW,101.8,68,2.74,102,2.88,98,33.60%,118,66.70%,74,22.70%,115,NaN,NaN,NaN,NaN,NaN
83,PSU,85.8,120,2.37,123,1.64,127,38.20%,84,56.50%,118,23.90%,119,NaN,NaN,NaN,NaN,NaN
104,TOL,111.1,28,3.36,13,3.47,45,42.90%,23,83.30%,3,14.90%,10,NaN,NaN,NaN,NaN,NaN
51,LSU,123.4,5,3.17,38,3.66,26,42.70%,29,63.60%,89,18.60%,63,NaN,NaN,NaN,NaN,NaN
126,WISC,103.7,56,2.95,72,1.95,126,36.00%,108,74.60%,23,19.40%,76,NaN,NaN,NaN,NaN,NaN
16,BYU,109.7,32,3.19,33,4.19,4,44.00%,14,68.50%,58,18.00%,54,NaN,NaN,NaN,NaN,NaN
121,WASH,113.3,19,3.54,2,2.53,117,46.00%,5,67.40%,72,16.00%,17,NaN,NaN,NaN,NaN,NaN
77,OKLA,117.1,12,3.30,19,3.47,45,41.30%,47,73.50%,31,18.10%,55,NaN,NaN,NaN,NaN,NaN
23,COL,108.1,37,3.08,51,3.27,69,38.50%,79,71.20%,45,18.90%,68,NaN,NaN,NaN,NaN,NaN
93,USF,111.6,25,3.53,3,3.26,71,46.30%,4,81.00%,5,16.70%,33,NaN,NaN,NaN,NaN,NaN
78,OKST,98.6,87,2.96,69,3.58,33,41.50%,44,68.30%,61,19.80%,87,NaN,NaN,NaN,NaN,NaN
22,CLEM,124.6,4,3.10,50,3.67,25,41.00%,50,62.90%,95,17.60%,47,NaN,NaN,NaN,NaN,NaN
34,UGA,94.8,101,3.02,63,3.39,56,43.70%,15,59.10%,113,20.70%,94,NaN,NaN,NaN,NaN,NaN
84,PITT,102.1,65,3.05,57,2.50,119,40.90%,55,70.90%,47,21.10%,98,NaN,NaN,NaN,NaN,NaN
112,USC,112.6,21,3.24,29,2.78,104,39.50%,71,65.90%,76,19.40%,76,NaN,NaN,NaN,NaN,NaN
77,OKLA,117.1,12,3.30,19,3.47,45,41.30%,47,73.50%,31,18.10%,55,NaN,NaN,NaN,NaN,NaN
2,ALA,115.0,13,3.21,31,3.40,53,45.70%,6,75.00%,20,19.90%,88,NaN,NaN,NaN,NaN,NaN
88,SDSU,100.8,76,3.27,24,3.25,73,41.70%,40,75.00%,20,18.50%,62,NaN,NaN,NaN,NaN,NaN
30,FAU,107.3,42,3.21,31,3.52,39,40.70%,59,67.30%,73,17.90%,52,NaN,NaN,NaN,NaN,NaN
81,ORE,108.7,36,3.25,28,3.62,30,45.00%,11,68.40%,60,17.30%,44,NaN,NaN,NaN,NaN,NaN
98,TEM,100.0,80,3.05,57,2.71,108,39.60%,69,77.80%,11,19.90%,88,NaN,NaN,NaN,NaN,NaN
9,AUB,121.6,6,3.26,26,3.90,13,41.70%,40,68.30%,61,16.00%,17,NaN,NaN,NaN,NaN,NaN
70,UNC,107.4,41,3.02,63,3.14,79,41.80%,39,52.00%,127,22.00%,111,NaN,NaN,NaN,NaN,NaN

In [201]:
for player in nfl_names:
        college_nfl_data = college_nfl_data.append(nfl_data_2017.loc[(nfl_data_2017.player_name == player)])
nfl_data = college_nfl_data[0:13]
nfl_data

      Rank          player_name nfl_team  .5_ff_points  games  ff_avg
7      8.0    Leonard Fournette      JAC         212.2   13.0    16.3
54    55.0          Aaron Jones       GB          75.5   10.0     7.6
67    68.0          Dalvin Cook      MIN          59.9    4.0    15.0
158  155.0     Jeremy McNichols       SF           0.0    1.0     0.0
10    11.0  Christian McCaffrey      CAR         188.6   16.0    11.8
3      4.0          Kareem Hunt       KC         268.7   16.0    16.8
48    49.0        Corey Clement      PHI          87.4   15.0     5.8
27    28.0      Jamaal Williams       GB         130.3   15.0     8.7
33    34.0            Joe Mixon      CIN         126.3   14.0     9.0
46    47.0          Marlon Mack      IND          92.8   14.0     6.6
64    65.0       Elijah McGuire      NYJ          67.7   15.0     4.5
106  107.0         James Conner      PIT          14.4   12.0     1.2
43    44.0        Samaje Perine      WAS          97.5   13.0     7.5

In [202]:
for player in nfl_names:
        college_nfl_data = college_nfl_data.append(nfl_data_2018.loc[(nfl_data_2018.player_name == player)])
nfl_data2 = college_nfl_data[84:100]
nfl_data2

      Rank          player_name nfl_team  .5_ff_points  games  ff_avg
71    72.0        DOnta Foreman      HOU          54.0    9.0     6.0
54    55.0          Aaron Jones       GB          75.5   10.0     7.6
67    68.0          Dalvin Cook      MIN          59.9    4.0    15.0
158  155.0     Jeremy McNichols       SF           0.0    1.0     0.0
10    11.0  Christian McCaffrey      CAR         188.6   16.0    11.8
3      4.0          Kareem Hunt       KC         268.7   16.0    16.8
48    49.0        Corey Clement      PHI          87.4   15.0     5.8
27    28.0      Jamaal Williams       GB         130.3   15.0     8.7
33    34.0            Joe Mixon      CIN         126.3   14.0     9.0
46    47.0          Marlon Mack      IND          92.8   14.0     6.6
64    65.0       Elijah McGuire      NYJ          67.7   15.0     4.5
106  107.0         James Conner      PIT          14.4   12.0     1.2
43    44.0        Samaje Perine      WAS          97.5   13.0     7.5
7      8.0    Leonard Fournette      JAC         212.2   13.0    16.3
71    72.0        DOnta Foreman      HOU          54.0    9.0     6.0
54    55.0          Aaron Jones       GB          75.5   10.0     7.6

In [263]:
for player in nfl_names:
        college_nfl_data = college_nfl_data.append(nfl_data_2019.loc[(nfl_data_2019.player_name == player)])
nfl_data3 = college_nfl_data[112:130]
nfl_data3 = nfl_data3.replace(',','', regex=True)
c = nfl_data3.select_dtypes(object).columns
nfl_data3[c] = nfl_data3[c].apply(pd.to_numeric,errors='coerce')
nfl_data3

      Rank  player_name  nfl_team  .5_ff_points  games  ff_avg
22    23.0          NaN       NaN         158.5   12.0    13.2
29    29.0          NaN       NaN         132.0   11.0    12.0
153  153.0          NaN       NaN           0.4    1.0     0.4
2      3.0          NaN       NaN         332.0   16.0    20.8
72    73.0          NaN       NaN          53.6    9.0     6.0
1      2.0          NaN       NaN         340.3   16.0    21.3
10    11.0          NaN       NaN         217.2   11.0    19.8
51    52.0          NaN       NaN          84.2   13.0     6.5
61    62.0          NaN       NaN          70.1   11.0     6.4
43    44.0          NaN       NaN         100.9   16.0     6.3
8      9.0          NaN       NaN         221.9   14.0    15.9
11    12.0          NaN       NaN         205.3   15.0    13.7
20    21.0          NaN       NaN         169.6   12.0    14.1
15    16.0          NaN       NaN         184.5   16.0    11.5
55    56.0          NaN       NaN          76.4    8.0     9.6
5      6.0          NaN       NaN         252.5   13.0    19.4
95    95.0          NaN       NaN          17.2    8.0     2.2
123  123.0          NaN       NaN           5.2    4.0     1.3

In [266]:
for player in nfl_data3.player_name:
        fantasy_college_rbs = fantasy_college_rbs.append(rel_rbs.loc[(rel_rbs.player == player)])
        std_2019_data = rel_rbs.loc[(rel_rbs.player == player)]
players_that_matter_2019 = fantasy_college_rbs[1:19]
players_that_matter_2019 = players_that_matter_2019.replace(',','', regex=True)
c = players_that_matter_2019.select_dtypes(object).columns
players_that_matter_2019[c] = players_that_matter_2019[c].apply(pd.to_numeric,errors='coerce')
players_that_matter_2019

,player,team,attempts,yards_gained,yards_lost,net_yards,ypc,long,tds
3,NaN,NaN,229.0,1827,54.0,1773,7.74,NaN,17.0
4,NaN,NaN,288.0,1845,80.0,1765,6.13,NaN,19.0
5,NaN,NaN,314.0,1787,78.0,1709,5.44,NaN,23.0
9,NaN,NaN,252.0,1632,36.0,1596,6.33,NaN,13.0
12,NaN,NaN,297.0,1603,82.0,1521,5.12,68.0,15.0
13,NaN,NaN,272.0,1634,138.0,1496,5.50,NaN,18.0
14,NaN,NaN,262.0,1512,37.0,1475,5.63,47.0,10.0
15,NaN,NaN,265.0,1506,47.0,1459,5.51,NaN,17.0
21,NaN,NaN,314.0,1421,46.0,1375,4.38,68.0,15.0
22,NaN,NaN,234.0,1408,33.0,1375,5.88,NaN,12.0
30,NaN,NaN,188.0,1335,61.0,1274,6.78,NaN,10.0
33,NaN,NaN,244.0,1283,31.0,1252,5.13,NaN,16.0
36,NaN,NaN,174.0,1242,55.0,1187,6.82,NaN,15.0
43,NaN,NaN,224.0,1180,50.0,1130,5.04,NaN,8.0
44,NaN,NaN,232.0,1168,41.0,1127,4.86,NaN,7.0
49,NaN,NaN,216.0,1152,60.0,1092,5.06,40.0,16.0
51,NaN,NaN,177.0,1124,42.0,1082,6.11,NaN,12.0
56,NaN,NaN,196.0,1079,19.0,1060,5.41,66.0,12.0

In [206]:
#normalize the data
#std_2019_data.iloc[:,2::] = std_2019_data.iloc[:,2::].apply(lambda x: (x-x.mean())/ x.std(), axis=0)

In [267]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X = np.array(players_that_matter_2019.iloc[:,[2,3,4,5,6,8]])
y = np.array(nfl_data3.iloc[:,5]).reshape(-1,1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [268]:
model = LinearRegression().fit(X_train,y_train)
print("score: ", model.score(X_test,y_test))
print("theta0: ", model.intercept_)
print("theta: ", model.coef_)

score:  -1.3004693882554168
theta0:  [152.44156866]
theta:  [[-6.70074615e-01  8.33015352e-02  6.29907993e-02  2.03107359e-02
  -2.20855680e+01 -2.22127504e-01]]

In [269]:
y_test

array([[ 6.3],
       [19.8],
       [15.9],
       [ 6.5],
       [ 6.4],
       [ 2.2]])

In [271]:
predict = model.predict(X_test)
print(predict)

[[10.40995832]
 [ 8.55991255]
 [15.4319804 ]
 [ 7.45019135]
 [-8.83224103]
 [14.48276634]]

In [272]:
import statsmodels.api as sm
X = sm.add_constant(X)
modols = sm.OLS(y,X)
results = modols.fit()
print(results.summary())
#print(sm.OLS(zscore(y), zscore(X)).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.260
Model:                            OLS   Adj. R-squared:                 -0.048
Method:                 Least Squares   F-statistic:                    0.8444
Date:                Mon, 21 Feb 2022   Prob (F-statistic):              0.544
Time:                        13:24:30   Log-Likelihood:                -56.646
No. Observations:                  18   AIC:                             125.3
Df Residuals:                      12   BIC:                             130.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         50.3894     73.091      0.689      0.504    -108.862     209.641
x1            -0.2106      0.301     -0.700      0.497      -0.866       0.445
x2             0.0502      0.030      1.652      0.125      -0.016       0.116
x3             0.0611      0.051      1.189      0.257      -0.051       0.173
x4            -0.0109      0.042     -0.261      0.799      -0.102       0.080
x5            -6.7514     12.513     -0.540      0.599     -34.015      20.512
x6            -0.6700      0.569     -1.177      0.262      -1.910       0.570
==============================================================================
Omnibus:                        2.018   Durbin-Watson:                   2.451
Prob(Omnibus):                  0.365   Jarque-Bera (JB):                1.090
Skew:                           0.214   Prob(JB):                        0.580
Kurtosis:                       1.873   Cond. No.                     2.24e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.48e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\Allen\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "